<template>
  <div class="q-pa-md doc-container">
    <div class="row items-center">
      <div class="col-md-6 offset-md-3">
        <div class="col-12">
          <q-input v-model="login" label="Login" />
        </div>
        <div class="col-12">
          <q-input v-model="senha" label="Senha" type="password" />
        </div>
        <div class="col-12">
          <q-btn label="Logar" @click="logar"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "PageIndex",
  data() {
    return {
      nome: "",
      login: "",
      senha: "",
    };
  },
  created() {
    
  },
   methods: {
     logar(){
       axios
      .post("http://localhost:5000/api/usuario/login",{"login":this.login,"senha":this.senha})
      .then((response) => {
        // JSON responses are automatically parsed.
        //this.posts = response.data
        //console.log(response);
        localStorage.setItem('user', JSON.stringify(response.data));
      })
      .catch((e) => {
        this.errors.push(e);
      });
      // console.log(this.login);
       //console.log(this.senha);
     }

  },
};
</script>
